.matches-recent {
	text-align: center;
}

.matches-recent > .matches-competition {
	margin: 1em;

}

.matches-recent > .matches-header {
	margin: 1em;
	text-align: right;
}

.matches-recent > .matches-competition > .competition-fixture {
	display: grid;
	grid-template-columns: 2fr 1fr 2fr 1fr 1fr;
}

.matches-recent > .matches-competition > .competition-fixture a {
	text-decoration: none;
	color: darkcyan;
}

.matches-recent > .matches-competition > .competition-fixture.live > .fixture-time {
	color: darkred;
	font-weight: bold;
}

.matches-recent > .matches-competition > .competition-fixture.live > .fixture-result {
	color: darkred;
	font-weight: bold;
}

.matches-recent > .matches-competition > .matches-competition-header {
	background: #ccc;

}